/* :root,
.light,
.light-theme {
  --mauve-1: #fdfcfd;
  --mauve-2: #faf9fb;
  --mauve-3: #f2eff3;
  --mauve-4: #eae7ec;
  --mauve-5: #e3dfe6;
  --mauve-6: #dbd8e0;
  --mauve-7: #d0cdd7;
  --mauve-8: #bcbac7;
  --mauve-9: #8e8c99;
  --mauve-10: #84828e;
  --mauve-11: #65636d;
  --mauve-12: #211f26;

  --mauve-a1: #55005503;
  --mauve-a2: #2b005506;
  --mauve-a3: #30004010;
  --mauve-a4: #20003618;
  --mauve-a5: #20003820;
  --mauve-a6: #14003527;
  --mauve-a7: #10003332;
  --mauve-a8: #08003145;
  --mauve-a9: #05001d73;
  --mauve-a10: #0500197d;
  --mauve-a11: #0400119c;
  --mauve-a12: #020008e0;

  --purple-1: #fefcfe;
  --purple-2: #fbf7fe;
  --purple-3: #f7edfe;
  --purple-4: #f2e2fc;
  --purple-5: #ead5f9;
  --purple-6: #e0c4f4;
  --purple-7: #d1afec;
  --purple-8: #be93e4;
  --purple-9: #8e4ec6;
  --purple-10: #8347b9;
  --purple-11: #8145b5;
  --purple-12: #402060;

  --purple-a1: #aa00aa03;
  --purple-a2: #8000e008;
  --purple-a3: #8e00f112;
  --purple-a4: #8d00e51d;
  --purple-a5: #8000db2a;
  --purple-a6: #7a01d03b;
  --purple-a7: #6d00c350;
  --purple-a8: #6600c06c;
  --purple-a9: #5c00adb1;
  --purple-a10: #53009eb8;
  --purple-a11: #52009aba;
  --purple-a12: #250049df;

  --background: var(--mauve-1);
  --foreground: var(--mauve-a2);
  --text: var(--mauve-12);
  --text-muted: var(--mauve-11);
} */

:root {
  --mauve-1: #121113;
  --mauve-2: #1a191b;
  --mauve-3: #232225;
  --mauve-4: #2b292d;
  --mauve-5: #323035;
  --mauve-6: #3c393f;
  --mauve-7: #49474e;
  --mauve-8: #625f69;
  --mauve-9: #6f6d78;
  --mauve-10: #7c7a85;
  --mauve-11: #b5b2bc;
  --mauve-12: #eeeef0;

  --mauve-a1: #00000000;
  --mauve-a2: #f5f4f609;
  --mauve-a3: #ebeaf814;
  --mauve-a4: #eee5f81d;
  --mauve-a5: #efe6fe25;
  --mauve-a6: #f1e6fd30;
  --mauve-a7: #eee9ff40;
  --mauve-a8: #eee7ff5d;
  --mauve-a9: #eae6fd6e;
  --mauve-a10: #ece9fd7c;
  --mauve-a11: #f5f1ffb7;
  --mauve-a12: #fdfdffef;

  --purple-1: #18111b;
  --purple-2: #1e1523;
  --purple-3: #301c3b;
  --purple-4: #3d224e;
  --purple-5: #48295c;
  --purple-6: #54346b;
  --purple-7: #664282;
  --purple-8: #8457aa;
  --purple-9: #8e4ec6;
  --purple-10: #9a5cd0;
  --purple-11: #d19dff;
  --purple-12: #ecd9fa;

  --purple-a1: #b412f90b;
  --purple-a2: #b744f714;
  --purple-a3: #c150ff2d;
  --purple-a4: #bb53fd42;
  --purple-a5: #be5cfd51;
  --purple-a6: #c16dfd61;
  --purple-a7: #c378fd7a;
  --purple-a8: #c47effa4;
  --purple-a9: #b661ffc2;
  --purple-a10: #bc6fffcd;
  --purple-a11: #d19dff;
  --purple-a12: #f1ddfffa;

  --background: var(--mauve-1);
  --foreground: var(--mauve-a2);
  --foreground-2: var(--mauve-a8);
  --background-accent: var(--purple-11);
  --background-accent-2: var(--purple-10);
  --text: var(--mauve-12);
  --text-muted: var(--mauve-11);
  --focus: var(--purple-a8);
}

.text-mauve-1 {
  color: var(--mauve-1);
}
.text-mauve-2 {
  color: var(--mauve-2);
}
.text-mauve-3 {
  color: var(--mauve-3);
}
.text-mauve-4 {
  color: var(--mauve-4);
}
.text-mauve-5 {
  color: var(--mauve-5);
}
.text-mauve-6 {
  color: var(--mauve-6);
}
.text-mauve-7 {
  color: var(--mauve-7);
}
.text-mauve-8 {
  color: var(--mauve-8);
}
.text-mauve-9 {
  color: var(--mauve-9);
}
.text-mauve-10 {
  color: var(--mauve-10);
}
.text-mauve-11 {
  color: var(--mauve-11);
}
.text-mauve-12 {
  color: var(--mauve-12);
}
.text-mauve-a1 {
  color: var(--mauve-a1);
}
.text-mauve-a2 {
  color: var(--mauve-a2);
}
.text-mauve-a3 {
  color: var(--mauve-a3);
}
.text-mauve-a4 {
  color: var(--mauve-a4);
}
.text-mauve-a5 {
  color: var(--mauve-a5);
}
.text-mauve-a6 {
  color: var(--mauve-a6);
}
.text-mauve-a7 {
  color: var(--mauve-a7);
}
.text-mauve-a8 {
  color: var(--mauve-a8);
}
.text-mauve-a9 {
  color: var(--mauve-a9);
}
.text-mauve-a10 {
  color: var(--mauve-a10);
}
.text-mauve-a11 {
  color: var(--mauve-a11);
}
.text-mauve-a12 {
  color: var(--mauve-a12);
}
.text-purple-1 {
  color: var(--purple-1);
}
.text-purple-2 {
  color: var(--purple-2);
}
.text-purple-3 {
  color: var(--purple-3);
}
.text-purple-4 {
  color: var(--purple-4);
}
.text-purple-5 {
  color: var(--purple-5);
}
.text-purple-6 {
  color: var(--purple-6);
}
.text-purple-7 {
  color: var(--purple-7);
}
.text-purple-8 {
  color: var(--purple-8);
}
.text-purple-9 {
  color: var(--purple-9);
}
.text-purple-10 {
  color: var(--purple-10);
}
.text-purple-11 {
  color: var(--purple-11);
}
.text-purple-12 {
  color: var(--purple-12);
}
.text-purple-a1 {
  color: var(--purple-a1);
}
.text-purple-a2 {
  color: var(--purple-a2);
}
.text-purple-a3 {
  color: var(--purple-a3);
}
.text-purple-a4 {
  color: var(--purple-a4);
}
.text-purple-a5 {
  color: var(--purple-a5);
}
.text-purple-a6 {
  color: var(--purple-a6);
}
.text-purple-a7 {
  color: var(--purple-a7);
}
.text-purple-a8 {
  color: var(--purple-a8);
}
.text-purple-a9 {
  color: var(--purple-a9);
}
.text-purple-a10 {
  color: var(--purple-a10);
}
.text-purple-a11 {
  color: var(--purple-a11);
}
.text-purple-a12 {
  color: var(--purple-a12);
}
.text-background {
  color: var(--background);
}
.text-foreground {
  color: var(--foreground);
}
.text-text {
  color: var(--text);
}
.text-text-muted {
  color: var(--text-muted);
}
